---
all:
  children:
    "{{ group_name }}":
      hosts:
        "{{ machine_name }}":
          ansible_host: 192.168.1.1
          ansible_user: root
          ansible_connection: ssh
          ansible_python_interpreter: /usr/bin/python3
