{% set revision = nixos_revision | default("nixos-unstable", true) -%}
{
  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/{{revision}}";
  };

  outputs = { self, nixpkgs }: let
    overlays = [
      (final: prev: {
        poetry = prev.poetry.override { python3 = prev.python312; };
      })
    ];
    system = "x86_64-linux";
    pkgs = import nixpkgs {
      inherit system overlays;
    };
  in {
    devShells.${system}.default = pkgs.mkShellNoCC {
      LD_LIBRARY_PATH = pkgs.lib.makeLibraryPath (with pkgs; [
        openssl
        stdenv.cc.cc
        zlib
      ]);
      packages = with pkgs;[
        python312
        poetry
      ];
    };
  };
}
